@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "burtons";
  src: url("/Users/tonymoore/Desktop/Escape/Github/react-portfoliov2/public/Burtons.otf");
}
.custom-button {
  @apply px-4 py-2 rounded bg-yellow-500 text-white ml-4;
}

.underline-smooth {
 @apply relative inline cursor-pointer text-xl font-medium before:bg-violet-600  before:absolute before:-bottom-0.5 before:block before:h-[2px] before:w-full before:origin-bottom-right before:scale-x-0 before:transition before:duration-300 before:ease-in-out hover:before:origin-bottom-left hover:before:scale-x-100;
}

/* Gradient Styles test
======================= */
.resume-button {
  position: relative;
}

.resume-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1000ms;
  opacity: 0.7;
  border-radius: 0.2rem;
  background-image: linear-gradient(to right, #44BCFF, #FF44EC, #FF675E);
  filter: blur(12px);
}

.resume-button:hover::before {
  opacity: 1;
  inset: -1px;
  transition-duration: 200ms;
}
